<div class="candidate-portfolio mb-5 mt-4">
  <h5 class="mb-6">Download Required Documents</h5>
  <div class="row g-3">
      <div class="col-lg-6">
          <div class="candidate-portfolio-box card border-0">
              <img src="assets/images/download-documents/img-001.png" alt="" class="img-fluid">
              <div class="bg-overlay"></div>
              <div class="zoom-icon">
                  <a 
                  href="assets/images/download-documents/img-001.png" 
                  class="image-popup text-white" 
                  data-title="<div class='profile-document-list d-flex align-items-center mt-4 ''>
                    <div class='icon flex-shrink-0'>
                        <i class='uil uil-file'></i>
                    </div>
                    <div class='ms-3'>
                        <h6 class='fs-16 mb-0'>Intuit_QuickBooks_Payroll.pdf</h6>
                        <p class='text-muted mb-0'>752 KB</p>
                    </div>
                    <div class='d-grid gap-2 col-6 mx-auto ms-auto'>
                        <a href='assets/images/download-documents/Intuit_QuickBooks_Payroll.pdf' download='Intuit_QuickBooks_Payroll.pdf' class='btn btn-primary fs-20 text-white'>Download <i class='uil uil-import'></i></a>
                    </div>
                    </div>
                    "
                  >
                    <i class="uil uil-search-alt"></i>
                    
                  </a>
              </div>
              <h6 class="fs-17 fw-medium mb-4 mt-4 text-center">QuickBooks Payroll Registration</h6>
          </div>
      </div><!-- end col -->
      <div class="col-lg-6">
          <div class="candidate-portfolio-box card border-0">
              <img src="assets/images/download-documents/img-002.png" alt="" class="img-fluid">
              <div class="bg-overlay"></div>
              <div class="zoom-icon">
                  <a 
                  href="assets/images/download-documents/img-002.png" 
                  class="image-popup text-white" 
                  data-title="<div class='profile-document-list d-flex align-items-center mt-4 ''>
                    <div class='icon flex-shrink-0'>
                        <i class='uil uil-file'></i>
                    </div>
                    <div class='ms-3'>
                        <h6 class='fs-16 mb-0'>VA_Department_of_Social_Services.pdf</h6>
                        <p class='text-muted mb-0'>766 KB</p>
                    </div>
                    <div class='d-grid gap-2 col-6 mx-auto ms-auto'>
                        <a href='assets/images/download-document/VA_Department_of_Social_Services.pdf' download='VA_Department_of_Social_Services.pdf' class='btn btn-primary fs-20 text-white'>Download <i class='uil uil-import'></i></a>
                    </div>
                    </div>
                    "
                  >
                  <i class="uil uil-search-alt"></i></a>
              </div>
              <h6 class="fs-17 fw-medium mb-4 mt-4 text-center">Social Services Background Check</h6>
          </div>
      </div><!-- end col -->
      <div class="col-lg-6">
          <div class="candidate-portfolio-box card border-0">
              <img src="assets/images/download-documents/img-003.png" alt="" class="img-fluid">
              <div class="bg-overlay"></div>
              <div class="zoom-icon">
                  <a 
                  href="assets/images/download-documents/img-003.png" 
                  class="image-popup text-white"
                  data-title="<div class='profile-document-list d-flex align-items-center mt-4 ''>
                    <div class='icon flex-shrink-0'>
                        <i class='uil uil-file'></i>
                    </div>
                    <div class='ms-3'>
                        <h6 class='fs-16 mb-0'>Authorization_for_Credit_Card.pdf</h6>
                        <p class='text-muted mb-0'>404 KB</p>
                    </div>
                    <div class='d-grid gap-2 col-6 mx-auto ms-auto'>
                        <a href='assets/images/download-document/Authorization_for_Credit_Card.pdf' download='Authorization_for_Credit_Card.pdf' class='btn btn-primary fs-20 text-white'>Download <i class='uil uil-import'></i></a>
                    </div>
                    </div>
                    "
                  
                  >
                  <i class="uil uil-search-alt"></i>
                </a>
              </div>
              <h6 class="fs-17 fw-medium mb-4 mt-4 text-center">Authorization For Credit Card Use</h6>
          </div>
      </div><!-- end col -->
      <div class="col-lg-6">
          <div class="candidate-portfolio-box card border-0">
              <img src="assets/images/download-documents/img-004.png" alt="" class="img-fluid">
              <div class="bg-overlay"></div>
              <div class="zoom-icon">
                  <a 
                  href="assets/images/download-documents/img-004.png" 
                  class="image-popup text-white"
                  data-title="<div class='profile-document-list d-flex align-items-center mt-4 ''>
                    <div class='icon flex-shrink-0'>
                        <i class='uil uil-file'></i>
                    </div>
                    <div class='ms-3'>
                        <h6 class='fs-16 mb-0'>DRUG_AND_ALCOHOL_RELEASE.pdf</h6>
                        <p class='text-muted mb-0'>544 KB</p>
                    </div>
                    <div class='d-grid gap-2 col-6 mx-auto ms-auto'>
                        <a href='assets/images/download-document/CONSENT_AND_DIRECTION_TO_RELEASE_DRUG_AND_ALCOHOL_TESTING_INFORMATION.pdf' download='CONSENT_AND_DIRECTION_TO_RELEASE_DRUG_AND_ALCOHOL_TESTING_INFORMATION.pdf' class='btn btn-primary fs-20 text-white'>Download <i class='uil uil-import'></i></a>
                    </div>
                    </div>
                    "
                  >
                  <i class="uil uil-search-alt"></i>
                </a>
              </div>
              <h6 class="fs-17 fw-medium mb-4 mt-4 text-center">Drug & Alcohol Testing Release Form</h6>
          </div>
      </div>
  </div><!-- end row -->
</div><!-- end portfolio -->  