

<!-- START FOOTER -->
<section class="bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-item mt-4 mt-lg-0 me-lg-5">
                    <h4 class="text-white mb-4">DMVCAB</h4>
                    <p class="text-white-50">Making your trips feel memorable, safe, and reliable.</p>
                </div>
            </div><!--end col-->
            <div class="col-lg-2 col-6">
                <div class="footer-item mt-4 mt-lg-0">
                    <p class="fs-16 text-white mb-4">Company</p>
                    <ul class="list-unstyled footer-list mb-0">
                        <li><a href="about.html"><i class="mdi mdi-chevron-right"></i> About Us</a></li>
                        <li><a href="contact.html"><i class="mdi mdi-chevron-right"></i> Contact Us</a></li>
                        <li><a href="services.html"><i class="mdi mdi-chevron-right"></i> Services</a></li>
                        <li><a href="company-brochures.html"><i class="mdi mdi-chevron-right"></i> Company Brochures</a></li>
                    </ul>
                </div>
            </div><!--end col-->
            <div class="col-lg-2 col-6">
                <div class="footer-item mt-4 mt-lg-0">
                    <p class="fs-16 text-white mb-4">For Jobs</p>
                    <ul class="list-unstyled footer-list mb-0">
                        <li><a href="job-list.html"><i class="mdi mdi-chevron-right"></i> All Jobs</a></li>
                        <li><a href="va-job-details.html"><i class="mdi mdi-chevron-right"></i> VA Jobs</a></li>
                        <li><a href="md-job-details.html"><i class="mdi mdi-chevron-right"></i> MD Jobs</a></li>
                        <li><a href="dc-job-details.html"><i class="mdi mdi-chevron-right"></i> DC Jobs</a></li>
                    </ul>
                </div>
            </div><!--end col-->
            <div class="col-lg-2 col-6">
                <div class="footer-item mt-4 mt-lg-0">
                    <p class="fs-16 text-white mb-4">Services</p>
                    <ul class="list-unstyled footer-list mb-0">
                        <li><a href="services.html"><i class="mdi mdi-chevron-right"></i> All Services</a></li>
                        <li><a href="students.html"><i class="mdi mdi-chevron-right"></i> Student Transportation</a></li>
                        <li><a href="limovip.html"><i class="mdi mdi-chevron-right"></i> VIP Limo Service</a></li>
                        <li><a href="rentals.html"><i class="mdi mdi-chevron-right"></i> Car Rentals</a></li>
                    </ul>
                </div>
            </div><!--end col-->
            <div class="col-lg-2 col-6">
                <div class="footer-item mt-4 mt-lg-0">
                    <p class="text-white fs-16 mb-4">For Candidates</p>
                    <ul class="list-unstyled footer-list mb-0">
                        <li><a href="file-upload.html"><i class="mdi mdi-chevron-right"></i> File Upload</a></li>
                    </ul>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section>
<!-- END FOOTER -->

<!-- START FOOTER-ALT -->
<div class="footer-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-white-50 text-center mb-0">
                    <script>document.write(new Date().getFullYear())</script> &copy; DMVCAB
                    Template by <a href="https://www.josuevaldez.com" target="_blank"
                        class="text-reset text-decoration-underline">MJ Creatives LLC</a>
                </p>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</div>
<!-- END FOOTER -->