<!-- START TOP-BAR -->
<div class="top-bar">
    <div class="container-fluid custom-container">
        <div class="row g-0 align-items-center">
            <div class="col-md-7">
                <ul class="list-inline mb-0 text-center text-md-start">
                    <li class="list-inline-item">
                        <p class="fs-13 mb-0"> <i class="mdi mdi-map-marker"></i> Located At: <a href="javascript:void(0)" class="text-dark">308 Hillwood Ave., Falls Church, VA 22046 Suite #350</a></p>
                    </li>
                </ul>
            </div>
            <!--end col-->
            <div class="col-md-5">
                <ul class="list-inline mb-0 text-center text-md-end">
                    <li class="list-inline-item py-2 me-2 align-middle">
                        <a href="#signupModal" class="text-dark fw-medium fs-13" data-bs-toggle="modal"><i class="uim uim-telegram-alt"></i>
                            Contact@DMVCAB.com</a>
                    </li>
                    <li class="list-inline-item align-middle">
                        <div class="dropdown d-inline-block language-switch">
                            <button type="button" class="btn" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <div class="fs-22 text-primary"><i id="header-lang-img" class="uil uil-phone-alt"></i></div>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <a href="tel:5715073114" class="dropdown-item notify-item language" data-lang="eng">
                                    <span class="me-1">DC:</span>
                                    <span class="align-middle">(571) 507-3114</span>
                                </a>
                                <!-- item-->
                                <a href="tel:5714059196" class="dropdown-item notify-item language" data-lang="sp">
                                    <span class="me-1">VA:</span>
                                    <span class="align-middle">(571) 405-9196</span>
                                </a>
                                <!-- item-->
                                <a href="tel:7034200498" class="dropdown-item notify-item language" data-lang="gr">
                                    <span class="me-1">MD:</span>
                                    <span class="align-middle">(703) 420-0498</span>
                                </a>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!-- END TOP-BAR -->

<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
    <div class="container-fluid custom-container">
        <a class="navbar-brand text-dark fw-bold me-auto" href="index.html">
            <img src="assets/images/logo-dark.webp" height="25" alt="" class="logo-dark" />
            <img src="assets/images/logo-light.webp" height="25" alt="" class="logo-light" />
        </a>
        <div>
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto navbar-center">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link" href="javascript:void(0)" id="jobsdropdown" role="button" data-bs-toggle="dropdown">
                        Company <div class="arrow-down"></div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="jobsdropdown">
                        <li><a class="dropdown-item" href="about.html">About Us</a></li>

                        <li><a class="dropdown-item" href="company-brochures.html">Company Brochures</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link" href="javascript:void(0)" id="jobsdropdown" role="button" data-bs-toggle="dropdown">
                        Services <div class="arrow-down"></div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="jobsdropdown">
                        <li><a class="dropdown-item" href="services.html">All Services</a></li>
                        <li><a class="dropdown-item" href="students.html">DMVCAB Student Transportation</a></li>
                        <li><a class="dropdown-item" href="limovip.html">DMVCAB VIP Limo Transportation</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link" href="javascript:void(0)" id="pagesdoropdown" role="button" data-bs-toggle="dropdown">
                        Apply for school Transportation
                        <div class="arrow-down"></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-center" aria-labelledby="pagesdoropdown">
                        <div class="row">
                            <div class="col-lg-4">
                                <span class="dropdown-header">Jobs</span>
                                <div>
                                    <a class="dropdown-item" href="job-list.html">Job List</a>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-4">
                                <span class="dropdown-header">By State</span>
                                <div>
                                    <a class="dropdown-item" href="va-job-details.html">VA Job Details</a>
                                    <a class="dropdown-item" href="md-job-details.html">MD Job Details</a>
                                    <a class="dropdown-item" href="dc-job-details.html">DC Job Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li><!--
                <li class="nav-item">
                    <a href="file-upload.html" class="nav-link">Upload</a>
                </li>-->
                <li class="nav-item">
                    <a href="contact.html" class="nav-link">Contact</a>
                </li>
            </ul><!--end navbar-nav-->
        </div>
    </div>
    <!--end container-->
</nav>
<!-- Navbar End -->


<!-- START SIGN-UP MODAL -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-5">
                <div class="position-absolute end-0 top-0 p-3">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="auth-content">
                    <div class="w-100">
                        <div class="text-center mb-4">
                            <h5>Contact Us</h5>
                            <p class="text-muted">How Can We Help!</p>
                        </div>
                        <form name="contact-form-1" method="POST" data-netlify="true" class="auth-form">
                            <div class="mb-3">
                                <label for="nameInput" class="form-label">Name</label>
                                <input type="text" class="form-control" id="nameInput" placeholder="Enter your name">
                            </div>
                            <div class="mb-3">
                                <label for="passwordInput" class="form-label">Email</label>
                                <input type="email" class="form-control" id="emailInput" placeholder="Enter your email">
                            </div>
                            <div class="mb-3">
                                <label for="subjectInput" class="form-label">Subject</label>
                                <input type="text" class="form-control" id="subjectInput" name="subject" id="subject"
                                    placeholder="Enter your subject">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary w-100">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!--end modal-body-->
        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div>
<!-- END SIGN-UP MODAL -->